version: "3.8"

services:
  mariadb:
    image: mariadb:10.5.9
    restart: always
    ports:
      - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=root
      - MYSQL_DATABASE=alphamail
      - MYSQL_USER=alphamail
      - MYSQL_PASSWORD=alphamail
    volumes:
      - ./volumes/mariadb:/var/lib/mysql
      - ./cfg:/docker-entrypoint-initdb.d
  backend:
    image: 501716994299.dkr.ecr.ap-southeast-1.amazonaws.com/notif-be:latest
    restart: always
    ports:
    - 8080:8080
  ldap:
    image: osixia/openldap:latest
    volumes:
      - ./secret.ldif:/container/service/slapd/assets/config/bootstrap/ldif/custom/ldap.ldif
    environment:
      - LDAP_ORGANISATION=alphamail
      - LDAP_DOMAIN=alphamail.com
      - LDAP_ADMIN_PASSWORD=secret
    ports:
      - 3389:389
      - 3636:636
    command: [ --copy-service,  --loglevel, debug ]
